
      .vc_custom_1600703903829 {
        padding-top: 130px !important;
        padding-bottom: 130px !important;
      }
      .vc_custom_1600703979721 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
      }
      .vc_custom_1600706129759 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
      }
      .vc_custom_1598987598736 {
        padding-top: 120px !important;
        padding-bottom: 120px !important;
        background-color: #fbfbfb !important;
      }
      .vc_custom_1600704653475 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
      }
      .vc_custom_1600704738934 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
      }
      .vc_custom_1598969549386 {
        padding-top: 171px !important;
      }
      .vc_custom_1598969187214 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600703842846 {
        padding-top: 100px !important;
      }
      .vc_custom_1600704075791 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598969954980 {
        padding-top: 0px !important;
      }
      .vc_custom_1598974064465 {
        padding-top: 50px !important;
        padding-right: 60px !important;
        padding-bottom: 60px !important;
        padding-left: 60px !important;
        background-color: rgba(0, 0, 0, 0.45) !important;
        *background-color: rgb(0, 0, 0) !important;
      }
      .vc_custom_1598969961731 {
        padding-top: 0px !important;
      }
      .vc_custom_1599759290936 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598972169908 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598970242138 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598969954980 {
        padding-top: 0px !important;
      }
      .vc_custom_1600703964433 {
        padding-top: 30px !important;
        padding-right: 40px !important;
        padding-bottom: 40px !important;
        padding-left: 40px !important;
        background-color: rgba(0, 0, 0, 0.45) !important;
        *background-color: rgb(0, 0, 0) !important;
      }
      .vc_custom_1598969961731 {
        padding-top: 0px !important;
      }
      .vc_custom_1599759290936 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600703927614 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598970242138 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598971632922 {
        padding-top: 80px !important;
        padding-bottom: 120px !important;
      }
      .vc_custom_1598975259921 {
        margin-bottom: 70px !important;
      }
      .vc_custom_1654210757285 {
        margin-bottom: 0px !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
      }
      .vc_custom_1598971632922 {
        padding-top: 80px !important;
        padding-bottom: 120px !important;
      }
      .vc_custom_1600704492706 {
        margin-bottom: 70px !important;
      }
      .vc_custom_1600706052355 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705632441 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705674459 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705659849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705685556 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705697332 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705707810 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705720604 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705732470 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705757138 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1654210801193 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600706072517 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      .vc_custom_1600705916109 {
        margin-bottom: 15px !important;
      }
      .vc_custom_1600452098954 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598979210955 {
        padding-top: 20px !important;
        padding-right: 0px !important;
        padding-bottom: 20px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1598979727217 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1599139439739 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598979122521 {
        margin-bottom: 50px !important;
      }
      .vc_custom_1598978473456 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1601299252365 {
        margin-right: 30px !important;
        margin-bottom: 0px !important;
      }
      .vc_custom_1598979191807 {
        padding-top: 0px !important;
      }
      .vc_custom_1598979186698 {
        padding-top: 0px !important;
      }
      .vc_custom_1602699330218 {
        margin-bottom: 30px !important;
      }
      .vc_custom_1598980522311 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
      .vc_custom_1599139528180 {
        padding-top: 20px !important;
        padding-right: 50px !important;
        padding-bottom: 20px !important;
        padding-left: 50px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_book-dd-v2.png?id=67) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1598979727217 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598980351929 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598979122521 {
        margin-bottom: 50px !important;
      }
      .vc_custom_1601299119225 {
        margin-bottom: 30px !important;
      }
      .vc_custom_1598978473456 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598980457303 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600704723922 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
      .vc_custom_1598979727217 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600705974006 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598979122521 {
        margin-bottom: 50px !important;
      }
      .vc_custom_1601299128819 {
        margin-bottom: 30px !important;
      }
      .vc_custom_1600706163075 {
        margin-bottom: 50px !important;
      }
      .vc_custom_1600706167345 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600704698905 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598981937326 {
        padding-top: 80px !important;
        padding-right: 0px !important;
        padding-bottom: 120px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1598981749377 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1641401248980 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1641401355310 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1660762800908 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1641401085747 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1641401029810 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1641401122040 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1649869614533 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
      }
      .vc_custom_1673365058753 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1673365225179 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649869769359 {
        padding-top: 0px !important;
      }
      .vc_custom_1649869774701 {
        padding-top: 0px !important;
      }
      .vc_custom_1649869780040 {
        padding-top: 0px !important;
      }
      .vc_custom_1649869785679 {
        padding-top: 0px !important;
      }
      .vc_custom_1649869601124 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649873684717 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649869496797 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649873697668 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649869601124 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649873684717 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649869496797 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1649873697668 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1673365102031 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1673365123342 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598986694544 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
      }
      .vc_custom_1598982126041 {
        margin-bottom: 30px !important;
      }
      .vc_custom_1600704948389 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
      .vc_custom_1598982050984 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598982103518 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600706203173 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600704924325 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598986676555 {
        padding-top: 5px !important;
        padding-bottom: 10px !important;
      }
      .vc_custom_1598984779303 {
        padding-top: 0px !important;
        padding-bottom: 10px !important;
      }
      .vc_custom_1598986732132 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1598984738015 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598984247299 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598986745277 {
        margin-bottom: 30px !important;
      }
      .vc_custom_1598986755908 {
        margin-bottom: 75px !important;
      }
      .vc_custom_1598985201281 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
      }
      .vc_custom_1598985115095 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1599857554439 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598987126375 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      .vc_custom_1598984779303 {
        padding-top: 0px !important;
        padding-bottom: 10px !important;
      }
      .vc_custom_1598987131286 {
        margin-bottom: 15px !important;
      }
      .vc_custom_1598984738015 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598984247299 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598984289294 {
        margin-bottom: 20px !important;
      }
      .vc_custom_1598985194376 {
        margin-bottom: 100px !important;
      }
      .vc_custom_1598985201281 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
      }
      .vc_custom_1598985115095 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598985049371 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707033532 {
        padding-top: 10px !important;
        padding-right: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
      }
      .vc_custom_1600707051992 {
        padding-top: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 35px !important;
        padding-left: 30px !important;
        background-color: #1a2153 !important;
      }
      .vc_custom_1600707070462 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1598984738015 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600707079634 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598984289294 {
        margin-bottom: 20px !important;
      }
      .vc_custom_1600707105359 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598985115095 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598985049371 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989992947 {
        padding-top: 100px !important;
        padding-right: 0px !important;
        padding-bottom: 100px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1598989969179 {
        margin-bottom: 70px !important;
      }
      .vc_custom_1598987877501 {
        padding-top: 0px !important;
      }
      .vc_custom_1598987872313 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598987883260 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598991903168 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991903168 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991911344 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991911344 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991911344 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991911344 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991919982 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991919982 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991919982 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991919982 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598991919982 {
        margin-bottom: 20px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_quotation-bg-v2.png?id=80) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991957553 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1598993470261 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1602531670760 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357367267 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1599141943455 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1598989835524 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991957553 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1661356298044 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1661356309956 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357334931 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661356325029 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1661356336071 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991967499 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1599151434756 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1599142247607 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1678120439023 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1599142306319 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1599142316122 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991967499 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1661356200654 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1661356213445 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357386703 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661356238916 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1661356252812 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991967499 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1598993477891 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1598990658796 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1678120447947 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598991380683 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1598991391709 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991967499 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1661356045458 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1661356062509 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357318674 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661356118431 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1661356127003 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991979013 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1598993483206 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1598991672022 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357306772 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1598991714502 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1598991724014 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991979013 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1661356375443 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1661356392068 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357290328 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661356401248 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1661356408120 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991979013 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1684767270608 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1661356425354 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357278086 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661356543538 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1661356556620 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991979013 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1661356463710 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1661356472322 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1661357264504 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661356575741 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1661356583199 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989849906 {
        padding-top: 20px !important;
      }
      .vc_custom_1598991979013 {
        padding-top: 0px !important;
        padding-right: 25px !important;
        background-image: url(https://mydentalagency.com/wp-content/uploads/2020/09/mydentalagency_badge-v1.png?id=81) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
      .vc_custom_1679064036834 {
        margin-bottom: 40px !important;
      }
      .vc_custom_1679063990252 {
        margin-bottom: 5px !important;
      }
      .vc_custom_1679064006629 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989721263 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1679064047861 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1679064056905 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1598989992947 {
        padding-top: 100px !important;
        padding-right: 0px !important;
        padding-bottom: 100px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1598989969179 {
        margin-bottom: 70px !important;
      }
      .vc_custom_1598987877501 {
        padding-top: 0px !important;
      }
      .vc_custom_1598987872313 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600707131932 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600705305849 {
        margin-bottom: 20px !important;
        background-color: #f7d033 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1600707470434 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707365279 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356796670 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707383906 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600705354806 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1600707510779 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707525022 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356809103 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707539684 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600707588319 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1600707699519 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707706597 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707556286 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707714355 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600707725948 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1600707805860 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707812243 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356821561 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707818086 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1600707825526 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1661356893381 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356914419 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356950224 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356927956 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661356935268 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1661356965349 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356974287 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356983381 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661356994346 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661357000520 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1661357016146 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357028207 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357034845 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357046768 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661357052499 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1661357068440 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357081404 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357095146 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357102568 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661357108274 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1661357129657 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357139147 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357145371 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357152541 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661357158959 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1661357173929 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357184641 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357145371 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357196085 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1661357203854 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1600707466084 {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1600707477509 {
        padding: 25px !important;
      }
      .vc_custom_1679064245410 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1679064254516 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1661357145371 {
        margin-bottom: 25px !important;
      }
      .vc_custom_1600707343849 {
        margin-bottom: 0px !important;
      }
      .vc_custom_1679064264221 {
        margin-bottom: 10px !important;
      }
      .vc_custom_1679064271237 {
        margin-bottom: 0px !important;
      }
    