.TranscriptError_lazy_module_refresh__82862687 {
 border:none;
 padding:4px 12px;
 gap:4px;
 height:32px;
 background:hsla(0,0%,100%,.1);
 border-radius:4px
}
.TranscriptError_lazy_module_icon__82862687 {
 width:40px;
 height:40px
}
