
      #ssb-btn-0 {
        background:;
      }
      #ssb-btn-0:hover {
        background: rgba(0, 0, 0, 0.9);
      }
      #ssb-btn-0 a {
        color: #ffffff;
      }
      .ssb-share-btn,
      .ssb-share-btn .ssb-social-popup {
        background:;
        color: #ffffff;
      }
      .ssb-share-btn:hover {
        background: rgba(0, 0, 0, 0.9);
      }
      .ssb-share-btn a {
        color: #ffffff !important;
      }
      #ssb-btn-4 {
        background:;
      }
      #ssb-btn-4:hover {
        background: rgba(0, 0, 0, 0.9);
      }
      #ssb-btn-4 a {
        color: #ffffff;
      }
      #ssb-btn-3 {
        background:;
      }
      #ssb-btn-3:hover {
        background: rgba(0, 0, 0, 0.9);
      }
      #ssb-btn-3 a {
        color: #ffffff;
      }
      #ssb-btn-2 {
        background:;
      }
      #ssb-btn-2:hover {
        background: rgba(0, 0, 0, 0.9);
      }
      #ssb-btn-2 a {
        color: #ffffff;
      }
      #ssb-btn-1 {
        background:;
      }
      #ssb-btn-1:hover {
        background: rgba(0, 0, 0, 0.9);
      }
      #ssb-btn-1 a {
        color: #ffffff;
      }
      #ssb-btn-5 {
        background:;
      }
      #ssb-btn-5:hover {
        background: rgba(0, 0, 0, 0.9);
      }
      #ssb-btn-5 a {
        color: #ffffff;
      }
    