
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on.classic-layout-list article {
                            padding-top: 0;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on.classic-layout-list article:first-of-type {
                            margin-top: 0;
                            padding-top: 0;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.classic-layout-list.mode-list .post-entry-content {
                            width: calc(100% - );
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.classic-layout-list.mode-list .no-img .post-entry-content {
                            width: 100%;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .filter-bg-decoration .filter-categories a.act {
                            color: #fff;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.mode-masonry) article:first-of-type,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.mode-masonry) article.visible.first:not(.product) {
                            margin-top: 0;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on:not(.mode-masonry) article {
                            margin-top: 0;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on:not(.mode-masonry) article:first-of-type,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on:not(.mode-masonry) article.visible.first:not(.product) {
                            margin-top: 0;
                            padding-top: 0;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-thumbnail-wrap {
                            padding: 0px 0px 0px 0px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.enable-bg-rollover .post-thumbnail-rollover:after {
                            background: -webkit-linear-gradient();
                            background: linear-gradient();
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico {
                            width: 44px;
                            height: 44px;
                            line-height: 44px;
                            border-radius: 100px;
                            margin: -22px 0 0 -22px;
                            border-width: 0px;
                            color: #ffffff;
                          }
                          .bottom-overlap-layout-list.blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico {
                            margin-top: -72px;
                          }
                          .gradient-overlay-layout-list.blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico,
                          .content-rollover-layout-list.blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico {
                            margin: 0 0 10px;
                          }
                          .content-align-center.gradient-overlay-layout-list.blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico,
                          .content-align-center.content-rollover-layout-list.blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico {
                            margin: 0 auto 10px;
                          }
                          .dt-icon-bg-on.blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico {
                            background: rgba(255,255,255,0.3);
                            box-shadow: none;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico > span,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico:before {
                            font-size: 32px;
                            line-height: 44px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico > span,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .gallery-zoom-ico:before {
                            color: #ffffff;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-title,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.owl-carousel .entry-title {
                            margin-bottom: 0px;
                            font-size: 22px;
                            line-height: 28px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-title a,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.owl-carousel .entry-title a {
                            color: #222222;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-meta {
                            margin-bottom: 5px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-meta * {
                            font-size: 15px;
                            line-height: 20px;
                            color: #333333;
                            font-weight: bold;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .portfolio-categories {
                            margin-bottom: 5px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-meta > a:after,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-meta > span:after {
                            background: #333333;
                            box-shadow: none;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-excerpt {
                            margin-bottom: 5px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.centered-layout-list) .post-entry-content {
                            padding: 15px 0px 10px 0px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.centered-layout-list):not(.content-bg-on):not(.mode-list) .no-img .post-entry-content {
                            padding: 0;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-details.details-type-link,
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-details.details-type-link * {
                            color: #222222;
                          }
                          @media screen and (max-width: ) {
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 article {
                              -ms-flex-flow: column nowrap;
                              flex-flow: column nowrap;
                              margin-top: 20px;
                            }
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on article {
                              border: none;
                            }
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.content-bg-on.centered-layout-list article {
                              padding: 0;
                            }
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.blog-shortcode.dividers-on article,
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on.classic-layout-list article {
                              margin-top: 20px;
                              padding: 0;
                            }
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.blog-shortcode.dividers-on article:first-of-type,
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.dividers-on.classic-layout-list article:first-of-type {
                              padding: 0;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-thumbnail-wrap,
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-entry-content {
                              width: 100%;
                              margin: 0;
                              top: 0;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-thumbnail-wrap {
                              padding: 0;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-entry-content:after {
                              display: none;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .project-even .post-thumbnail-wrap,
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.centered-layout-list .post-thumbnail-wrap {
                              -ms-flex-order: 0;
                              order: 0;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.centered-layout-list .post-entry-title-content {
                              -ms-flex-order: 1;
                              order: 1;
                              width: 100%;
                              padding: 20px 20px 0;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.centered-layout-list .post-entry-content {
                              -ms-flex-order: 2;
                              order: 2;
                              padding-top: 0;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .fancy-categories {
                              top: 10px;
                              left: 10px;
                              bottom: auto;
                              right: auto;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .fancy-date a {
                              top: 10px;
                              right: 10px;
                              left: auto;
                              bottom: auto;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-entry-content {
                              padding: 20px;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-title {
                              margin: 3px 0 5px;
                              font-size: 20px;
                              line-height: 26px;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-meta {
                              margin: 5px 0 5px;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .entry-excerpt {
                              margin: 15px 0 0;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-details {
                              margin: 5px 0 10px;
                            }
                            #page .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4 .post-details.details-type-link {
                              margin-bottom: 2px;
                            }
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.resize-by-browser-width) .dt-css-grid {
                            grid-row-gap: 20px;
                            grid-column-gap: 20px;
                            grid-template-columns: repeat(auto-fill,minmax(,1fr));
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.resize-by-browser-width) .dt-css-grid .double-width {
                            grid-column: span 2;
                          }
                          .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.resize-by-browser-width) .dt-css-grid,
                          .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.resize-by-browser-width) .dt-css-grid {
                            display: flex;
                            flex-flow: row wrap;
                            margin: -10px;
                          }
                          .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.resize-by-browser-width) .dt-css-grid .wf-cell,
                          .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4:not(.resize-by-browser-width) .dt-css-grid .wf-cell {
                            flex: 1 0 ;
                            max-width: 100%;
                            padding: 10px;
                            box-sizing: border-box;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid {
                            grid-template-columns: repeat(3,1fr);
                            grid-template-rows: auto;
                            grid-column-gap: 20px;
                            grid-row-gap: 20px;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .double-width {
                            grid-column: span 2;
                          }
                          .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid {
                            margin: -10px;
                          }
                          .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell {
                            width: 33.3333333333%;
                            padding: 10px;
                          }
                          .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell.double-width {
                            width: calc(33.3333333333%) * 2;
                          }
                          .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width:not(.centered-layout-list):not(.content-bg-on) .dt-css-grid {
                            grid-row-gap: 10px;
                          }
                          @media screen and (max-width: 1199px) {
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid {
                              grid-template-columns: repeat(3,1fr);
                            }
                            .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell,
                            .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell {
                              width: 33.3333333333%;
                            }
                            .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell.double-width,
                            .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell.double-width {
                              width: calc(33.3333333333%)*2;
                            }
                          }
                          @media screen and (max-width: 991px) {
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid {
                              grid-template-columns: repeat(2,1fr);
                            }
                            .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell,
                            .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell {
                              width: 50%;
                            }
                            .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell.double-width,
                            .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell.double-width {
                              width: calc(50%)*2;
                            }
                          }
                          @media screen and (max-width: 767px) {
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid {
                              grid-template-columns: repeat(1,1fr);
                            }
                            .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .double-width {
                              grid-column: span 1;
                            }
                            .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell,
                            .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell {
                              width: 100%;
                            }
                            .cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell.double-width,
                            .no-cssgridlegacy.no-cssgrid .blog-shortcode.blog-masonry-shortcode-id-a193266e57e5d01191c6f932446f53b4.resize-by-browser-width .dt-css-grid .wf-cell.double-width {
                              width: calc(100%)*2;
                            }
                          }
                        