
        #main {
          padding-top: 0px;
          padding-bottom: 0px;
        }
        @media screen and (max-width: 778px) {
          #main {
            padding-top: 0px;
            padding-bottom: 0px;
          }
        }
      